**/node_modules/
*.bun.lockb
.pnp/
.pnp.js

**/dist/
**/build/
**/out/
**/.next/
**/.astro/
**/.vercel/
coverage/

*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

**/.env

# keep client env
!apps/client/.env

.cache/
.eslintcache

.DS_Store
.idea/

*.tgz
*.zip
*.tar.gz
*.pem
