---
import type { Locale } from "@i18n";
import { useTranslations } from "@i18n/utils";

type Props = {
  lang: Locale;
};

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section class="flex items-center justify-center bg-white py-15">
  <figure class="border-church-green m-0 w-[min(700px,calc(100%_-_20px))] border-l-[10px] pl-[38px] max-sm:pl-5">
    <blockquote class="mb-[38px] text-[15px] font-bold text-neutral-500 italic">
      {t("home.quote")}
    </blockquote>
    <figcaption
      class="text-church-green text-[19px] leading-snug font-bold tracking-[10px] uppercase max-sm:tracking-[5px]">
      {t("home.quoteAuthor")}
    </figcaption>
  </figure>
</section>
